@{
    ViewBag.Title = "My Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Sage Owls - a helping hand for helping hands</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
  
  

</head>
<body>
<div class="jumbotron">
    <h1>Test</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color:gray; opacity:0.3" id="divPreload">Loading..........</div>
<div class="row">
    <div class="col-md-4">
        <h2>Faculties</h2>
        <select id="cmbFaculty">
         
        </select>
    </div>
    <div class="col-md-4">
        <h2>Courses</h2>
        <select id="cmbCourse">
        
        </select>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
   
</div>
   <script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/sample.js"></script>
    </body>
</html>
